<div class="container mt-5">
  <div class="header clearfix">
    <h1 class="text-muted"><i class="fas fa-globe-americas mr-2"></i>Seasons</h1>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let season of seasons" [routerLink]="['/seasons', season.id]">
            <td>{{ season.name }}</td>
            <td>{{ season.start_date | date: 'longDate' }}</td>
            <td>{{ season.end_date | date: 'longDate' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>