<div class="container mt-5">
  <div class="header clearfix">
    <h1 class="text-muted"><i class="fas fa-child mr-2"></i>Players</h1>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of players">
            <td>{{ player?.name }}</td>
            <td>{{ player?.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>