<div class="container">
  <div class="row">
    <div class="col mb-3">
      <h1 class="col-3 text-muted">{{ season?.name }}</h1>
      <h4 class="col-9 text-right">Qualifications from {{ season?.start_date|date }} to {{ season?.end_date|date }}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4>Ranking</h4>
      <div *ngIf="season?.ranking.ranking.length == 0" class="mb-3">
        <h5 class="col">
          There is no ranked players for this season.
        </h5>
      </div>
      <table *ngIf="season?.ranking.ranking.length > 0" class="table table-hover mb-3">
        <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th class="text-right">Score</th>
              <th class="text-right">Win Rate (%)</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of season?.ranking.ranking">
            <td>{{ player?.rank }}</td>
            <td>{{ player?.name }}</td>
            <td class="text-right">{{ player?.rating }}</td>
            <td class="text-right">{{ player?.win_percentage }}</td>
          </tr>
        </tbody>
      </table>
      <h4>Unranked ({{ season?.placement_games }} games need to be played)</h4>
      <div *ngIf="season?.ranking.placement.length == 0" class="mb-3">
        <h5 class="col mt-3">
          There is no unranked players for this season.
        </h5>
      </div>
      <table *ngIf="season?.ranking.placement.length > 0" class="table table-hover mb-3">
        <thead>
          <tr>
            <th>Name</th>
            <th class="text-right">Played</th>
            <th class="text-right">Score</th>
            <th class="text-right">Win Rate (%)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of season?.ranking.placement">
            <td>{{ player?.name }}</td>
            <td class="text-right">{{ player?.games }}</td>
            <td class="text-right">{{ player?.rating }}</td>
            <td class="text-right">{{ player?.win_percentage }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <h4>Last Games</h4>
      <p>Last Games</p>
    </div>
  </div>
</div>