<div *ngIf="player" class="container-fluid mt-4">
  <div class="header clearfix">
    <h2 class="text-muted">
      <i class="fas fa-child mr-2"></i>{{player?.name}}
      <span class="pull-right">
        <i class="fas fa-trophy" style="color: gold"></i>
        {{ player?.stats.global.max_rating }}
      </span>
    </h2>
  </div>
  <div class="row mt-3">
    <div class="col-lg">
      <tabset>
        <tab heading="Global Stats" active="true">
          <div class="row">
            <div class="col-lg-6 mt-2">
              <div class="card">
                <h5 class="card-header">Game Stats</h5>
                <div class="card-body">
                  <canvas baseChart
                          [colors]="gameChartColors"
                          [datasets]="gameChartData"
                          [labels]="gameChartLabels"
                          [options]="gameChartOptions"
                          [legend]="gameChartLegend"
                          [chartType]="gameChartType"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mt-2 mb-2">
              <div class="card">
                <h5 class="card-header">Score Stats</h5>
                <div class="card-body">
                  <canvas baseChart
                          [colors]="scoreChartColors"
                          [datasets]="scoreChartData"
                          [labels]="scoreChartLabels"
                          [options]="scoreChartOptions"
                          [legend]="scoreChartLegend"
                          [chartType]="scoreChartType"></canvas>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab *ngFor="let stats of player?.stats.seasons | keys"
             heading="Season {{ stats.key }}"
             (select)="fillSeasonTabs(player, stats.key)">
          <div class="row">
            <div class="col-lg-6 mt-2">
              <div class="card">
                <h5 class="card-header">Opponent Stats</h5>
                <div class="card-body">
                  <canvas baseChart
                          [colors]="opponentGameChartColors"
                          [datasets]="opponentGameChartData"
                          [labels]="opponentGameChartLabels"
                          [options]="opponentGameChartOptions"
                          [legend]="opponentGameChartLegend"
                          [chartType]="opponentGameChartType"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mt-2 mb-2">
              <div class="card">
                <h5 class="card-header">Fun Facts</h5>
                <div class="card-body">
                  <h3>
                    <i class="fas fa-check-circle" style="color: green"></i>
                    Favorite Target
                  </h3>
                  <i class="fas fa-long-arrow-alt-right ml-2 mr-2"></i>
                  <span *ngIf="favoriteOpponent">
                    {{ favoriteOpponent.name }} ({{ favoriteOpponent.win_percentage }}% wins)
                    <b>#youTheBoss</b>
                  </span>
                  <span *ngIf="!favoriteOpponent">
                    You don't have any favorite since you don't have at least 50% wins against anyone...
                    <b>#notStrong</b>
                  </span>
                  <h3 class="mt-2">
                    <i class="fas fa-times-circle" style="color: red"></i>
                    Worst Nightmare
                  </h3>
                  <i class="fas fa-long-arrow-alt-right ml-2 mr-2"></i>
                  <span *ngIf="petPeeveOpponent">
                    {{ petPeeveOpponent.name }} ({{ petPeeveOpponent.win_percentage }}% wins)
                    <b>#tryHarder</b>
                  </span>
                  <span *ngIf="!petPeeveOpponent">
                    You don't have any pet peeve since nobody has at least 50% wins against you...
                    <b>#strong</b>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
  </div>
</div>