<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand text-white"><i class="fas fa-table-tennis mr-2"></i>SmartPong</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/"><i class="fas fa-home mr-2"></i>Home</a>
      <a class="nav-item nav-link" href="/seasons"><i class="fas fa-globe-americas mr-2"></i>Seasons</a>
      <a class="nav-item nav-link" href="/games"><i class="fas fa-table-tennis mr-2"></i>Games</a>
      <a class="nav-item nav-link" href="/players"><i class="fas fa-child mr-2"></i>Players</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <span class="navbar-brand">v1.0</span>
  </div>
</nav>